<a href="https://colab.research.google.com/github/Henrymelendez/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DSPT6_112_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Make Features 

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# [Objective](#feature-engineering) - The Purpose of Feature Engineering

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [0]:
import pandas as pd

In [0]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

### Specific Columns hold specific kinds of data

In [3]:
pd.set_option('display.max_rows',100)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

Some columns hold integer values like the `BedroomAbvGr` which stands for "Bedrooms Above Grade." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/ryanleeallred/datasets/blob/master/Ames%20Housing%20Data/data_description.txt).

In [4]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

Some columns hold float values like the `LotFrontage` column.

In [5]:
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [6]:
# Look at the first ten rows of the `BedroomAbvGr` column.
df['BedroomAbvGr'][0:11]

0     3
1     3
2     3
3     3
4     4
5     1
6     3
7     3
8     2
9     2
10    3
Name: BedroomAbvGr, dtype: int64

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [7]:
pd.set_option('display.max_rows',150)
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: What's the most common `LotFrontage` value for this column?

In [8]:
# NaN is the most common value in this column. What is a NaN
import numpy as np
type(np.NaN)

float

In [9]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes seanse to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember, that Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [0]:
import numpy as np

# What is the datatype of NaN?

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice1`

In [11]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
df_small = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy()

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

### Syntax for creating new columns

When making a new column on a dataframe, we have to use the square bracket syntax of accessing a column. We can't use "dot syntax" here.

In [12]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset

# Using bracket syntax to make a new 'TotalSquareFootage' column

df_small['TotalSF'] = df_small['TotalBsmtSF']+df_small['1stFlrSF']+df_small['2ndFlrSF']
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [13]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage
df_small['PriceperSqFt'] = df_small['SalePrice']/df_small['TotalSF']
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PriceperSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

Ok, we have made two new columns on our small dataset.

- What does a **high** `PricePerSqFt` say about a home that the square footage and price alone don't capture as directly?

- What does a **low** `PricePerSqFt` say about a home that the square footage and price alone don't directly capture?

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective](#work-with-strings) Work with Strings with Pandas

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

The `!wget` shell command being used here does exactly the same thing that your browser does when you type a URL in the address. It makes a request or "gets" the file at that address. However, in our case the file isn't a webpage, it's a compressed CSV file. 

Try copying and pasting the URL from below into your browser, did it start an automatic download? Any URLs like this that start automatic downloads when navigated to can be used along with the `!wget` command to bring files directly into your notebook's memory.

### Load a new dataset

In [14]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-09 08:41:01--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [                <=> ]  21.71M   860KB/s    in 26s

2020-03-09 08:41:28 (842 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22763850]

We need to use the `!unzip` command to extract the csv from the zipped folder.

In [15]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

We can also use bash/shell commands to look at the raw file using the `!head` and `!tail` commands

In [16]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 60 months"," 16.14%","243.93","C","C4","Sale Consultant","2 years","RENT","90000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","079xx","NJ","8.8","0","Mar-1991","1","","43","11","1","10582","58.5%","32","w","0.00","0.00","10661.0577272374","10661.06","10000.00","661.06","0.0","0.0","0.0","May-2019","9698.79","","Dec-2019","0","","1","Individual","","","","0","0","15470","1","1","0","1","18","4888","65","1","3","2969","60","18100","2","0","2","4","1719","4906","67.3","0","0","133","333","2","2","1","2","","1","","0","4","6","5","15","6","8","23","6","11","0","0","0","1","100","80","1","0","25600","15470","15000","7500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 11.80%","215.28","B","B4","Educator ","2 years","RENT","46500","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","352xx","AL","21.01","0","Aug-2011","1","61","","24","0","6741","41.6%","30","w","4411.89","4411.89","2792.25","2792.25","2088.11","704.14","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","61","1","Individual","","","","0","0","40223","4","12","2","2","5","33482","97","7","12","3662","79","16200","2","0","4","14","1749","7694","42.2","0","0","88","72","1","1","0","3","","5","61","2","6","10","6","6","14","11","16","10","24","0","0","0","9","93.3","0","0","0","50845","40223","13300","34645","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4500","4500","4500"," 36 months"," 11.31%","147.99","B","B3","Accounts Examiner III","10+ years","RENT","38500","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","786xx","TX","4.64","0","Dec-2003","0","25","","12","0","4472","15.3%","25","w","0.00","0.00","4549.2171485504","4549.22","4500.00","49.22","0.0","0.0","0.0","Feb-2019","4553.46","","Feb-2020","0","25","1","Individual","","","","0","306","29137","2","1","1","1","3","24665","100","3","7","3612","54","29200","0","3","3","8","2428","10735","28.9","0","0","180","69","2","2","0","2","","6","","1","3","5","5","6","10","11","15","5","12","0","0","0","4","91.7","0","0","0","53795","29137","15100","24595","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Late (31-120 days)","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","21975.89","21975.89","5848.05","5848.05","3024.11","2823.94","0.0","0.0","0.0","Oct-2019","587.82","Mar-2020","Jan-2020","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 27.27%","920.91","E","E5","Claims Analyst","1 year","RENT","50000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","857xx","AZ","23.62","0","Dec-1997","1","","","10","0","1258","10.7%","16","w","26429.58","26429.58","11903.65","11903.65","3570.42","8333.23","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","27364","1","4","1","2","6","26106","76","0","1","1258","59","11800","2","0","1","3","2736","8842","12.5","0","0","84","252","16","6","0","16","","6","","0","1","1","4","4","7","6","9","1","10","0","0","0","1","100","0","0","0","46300","27364","10100","34500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.14%","352.27","C","C4","Training Manager","10+ years","MORTGAGE","94800","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","325xx","FL","28.59","0","Jan-2009","1","","","18","0","49976","65.8%","37","w","6928.87","6928.87","4566.06","4566.06","3071.13","1494.93","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","361716","1","6","2","4","6","45778","64","0","1","8297","65","75900","1","15","4","6","20095","12249","49.2","0","0","107","119","15","6","4","36","","0","","0","2","8","3","7","16","11","17","8","18","0","0","0","3","100","33.3","0","0","415969","95754","24100","71489","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 12.98%","568.58","B","B5","Tire builder","10+ years","MORTGAGE","85000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","356xx","AL","36.67","1","Oct-1993","1","10","","14","0","26630","53.3%","27","w","20862.06","20862.06","7364.5","7364.50","4137.94","3226.56","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","40","1","Joint App","140000","23.08","Not Verified","0","56","206980","1","7","1","3","3","69513","81","1","1","17292","68","50000","1","3","1","4","14784","18581","57.7","0","0","186","185","9","3","4","9","10","3","10","1","4","5","4","5","13","6","10","5","14","0","0","0","2","85.2","0","0","0","275691","96143","43900","99691","48711","Oct-1993","1","4","16","56.5","8","12","0","0","49","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 10.33%","97.27","B","B1","Driver","7 years","RENT","40000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","493xx","MI","10.68","0","Oct-2014","1","","67","3","1","3092","44.2%","5","w","1721.70","1721.70","1561.93","1561.93","1278.30","283.63","0.0","0.0","0.0","Feb-2020","0.0","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","12563","2","1","2","3","4","9471","95","0","0","3049","74","7000","4","2","2","3","4188","3908","44.2","0","0","13","50","46","4","0","46","","0","","0","2","2","2","2","3","2","2","2","3","0","0","0","2","100","0","1","0","17000","12563","7000","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [17]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3387.58","3387.58","3032.81","3032.81","2212.42","820.39","0.0","0.0","0.0","Feb-2020","190.21","Mar-2020","Jan-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","6101.42","6101.42","5539.82","5539.82","3898.58","1641.24","0.0","0.0","0.0","Feb-2020","346.76","Mar-2020","Jan-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3024.63","3024.63","2713.51","2713.51","1975.37","738.14","0.0","0.0","0.0","Feb-2020","169.83","Mar-2020","Jan-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5959.76","5810.77","5227.52","5096.83","4040.24","1187.28","0.0","0.0","0.0","Feb-2020","327.68","Mar-2020","Jan-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","6168.49","6168.49","5687.89","5687.89","3831.51","1856.38","0.0","0.0","0.0","Feb-2020","356.08","Mar-2020","Jan-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2048833825
Total amount funded in policy code 2: 819375497

As we look at the raw file itself, do you see anything that might cause us trouble as we read in the CSV file to a dataframe?

The Dataset Has n/a values blank values which may cause a problem

In [18]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status        pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            60 months  16.14%  243.93      C     C4        Sale Consultant       2 years    RENT           90000      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  debt_consolidation Debt consolidation      079xx    NJ         8.8   0           Mar-1991         1              NaN                    43                     11       1       10582     58.5%      32        w                   0.00      0.00          10661.0577272374 10661.06        10000.00        661.06        0.0                0.0        0.0                     May-2019     9698.79         NaN          Dec-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            15470       1           1           0           1           18                 4888         65      1           3           2969       60       18100            2      0           2            4                    1719        4906           67.3    0                        0           133                333                  2                     2              1        2                    NaN                      1                     NaN                            0                     4              6               5           15        6         8             23            6                   11       0                0            0                  1                  100            80               1                    0         25600           15470             15000          7500                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              6500      6500        6500             36 months  11.80%  215.28      B     B4        Educator              2 years    RENT           46500      Source Verified     Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation      352xx    AL         21.01 0           Aug-2011         1              61                     NaN                    24       0       6741      41.6%      30        w                   4411.89   4411.89       2792.25          2792.25         2088.11         704.14        0.0                0.0        0.0                     Feb-2020     0.0             Mar-2020     Jan-2020           0                          61                          1           Individual       NaN              NaN       NaN                       0              0            40223       4           12          2           2           5                  33482        97      7           12          3662       79       16200            2      0           4            14                   1749        7694           42.2    0                        0           88                 72                   1                     1              0        3                    NaN                      5                     61                             2                     6              10              6           6         14        11            16            10                  24       0                0            0                  9                  93.3           0                0                    0         50845           40223             13300          34645                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4500      4500        4500             36 months  11.31%  147.99      B     B3        Accounts Examiner III 10+ years  RENT           38500      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  credit_card        Credit card refinancing 786xx    TX         4.64  0           Dec-2003         0              25                     NaN                    12       0       4472      15.3%      25        w                   0.00      0.00          4549.2171485504  4549.22         4500.00         49.22         0.0                0.0        0.0                     Feb-2019     4553.46         NaN          Feb-2020           0                          25                          1           Individual       NaN              NaN       NaN                       0              306          29137       2           1           1           1           3                  24665        100     3           7           3612       54       29200            0      3           3            8                    2428        10735          28.9    0                        0           180                69                   2                     2              0        2                    NaN                      6                     NaN                            1                     3              5               5           6         10        11            15            5                   12       0                0            0                  4                  91.7           0                0                    0         53795           29137             15100          24595                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  14.47%  587.82      C     C2        teacher               10+ years  OWN            110000     Not Verified        Dec-2018 Late (31-120 days) n          NaN NaN  credit_card        Credit card refinancing 117xx    NY         26.43 1           Jan-1997         0              7                      NaN                    23       0       39053     45.7%      49        w                   21975.89  21975.89      5848.05          5848.05         3024.11         2823.94       0.0                0.0        0.0                     Oct-2019     587.82          Mar-2020     Jan-2020           0                          7                           1           Individual       NaN              NaN       NaN                       0              0            95648       0           3           0           0           35                 54716        23      1           2           8422       39       85500            0      1           0            2                    4159        34837          44.5    0                        0           263                246                  10                    10             0        48                   NaN                      NaN                   NaN                            0                     9              13              10          14        21        19            27            13                  23       0                0            1                  1                  98             10               0                    0         179321          95648             62800          91424                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

The extra rows at the top and bottom of the file have done two things:

1) The top row has made it so that the entire dataset is being interpreted as column headers

2) The bottom two rows have been read into the 'id' column and are causing every column to have at least two `NaN` values in it.

In [19]:
# We can fix the header problem by using the 'skiprows' parameter
df= pd.read_csv('LoanStats_2018Q4.csv',skiprows=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

Lets look at the NaN values of each column so that you can see the problem that the extra rows at the bottom of the file are creating for us

In [20]:
# Sum null values by column and sort from least to greatest\
pd.set_option('display.max_rows',150)
df.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
hardship_flag                                      2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
collections_12_mths_ex_med                         2
num_tl_30dpd                                       2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
num_accts_ever_120_pd                              2
num_sats                                           2
last_pymnt_amnt                                    2
open_il_12m                                        2
debt_settlement_flag                               2
pub_rec                                            2
open_acc                                           2
grade                                              2
sub_grade                                          2
home_ownership                                     2
inq_last_6mths                                     2
annual_inc                                         2
verification_status                                2
earliest_cr_line                                   2
delinq_2yrs                                        2
issue_d                                            2
addr_state                                         2
zip_code                                           2
title                                              2
loan_status                                        2
pymnt_plan                                         2
installment                                        2
revol_bal                                          2
term                                               2
collection_recovery_fee                            2
loan_amnt                                          2
recoveries                                         2
total_rec_late_fee                                 2
funded_amnt                                        2
funded_amnt_inv                                    2
total_acc                                          2
total_rec_int                                      2
purpose                                            2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
int_rate                                           2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1590
bc_open_to_buy                                  1690
percent_bc_gt_75                                1691
bc_util                                         1753
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4475
mo_sin_old_il_acct                              4475
emp_length                                     11691
mths_since_recent_inq                          16037
il_util                                        20257
emp_title                                      20924
next_pymnt_d                                   31589
mths_since_last_delinq                         72127
mths_since_recent_revol_delinq                 91547
mths_since_last_major_derog                    99134
mths_since_recent_bc_dlq                      103146
sec_app_open_acc                              111524
sec_app_mort_acc                              111524
sec_app_inq_last_6mths                        111524
sec_app_earliest_cr_line                      111524
revol_bal_joint                               111524
sec_app_open_act_il                           111524
annual_inc_joint                              111524
dti_joint                                     111524
sec_app_collections_12_mths_ex_med            111524
sec_app_chargeoff_within_12_mths              111524
sec_app_num_rev_accts                         111524
sec_app_revol_util                            111782
mths_since_last_record                        112858
verification_status_joint                     113457
sec_app_mths_since_last_major_derog           123135
debt_settlement_flag_date                     127601
settlement_date                               127601
settlement_amount                             127601
settlement_status                             127601
settlement_term                               127601
settlement_percentage                         127601
hardship_status                               127974
deferral_term                                 127974
hardship_amount                               127974
hardship_start_date                           127974
hardship_end_date                             127974
payment_plan_start_date                       127974
hardship_length                               127974
hardship_dpd                                  127974
hardship_loan_status                          127974
hardship_reason                               127974
hardship_payoff_balance_amount                127974
hardship_last_payment_amount                  127974
hardship_type                                 127974
orig_projected_additional_accrued_interest    128027
id                                            128284
url                                           128286
member_id                                     128286
desc                                          128286
dtype: int64

In [21]:
# Address the extra NaNs in each column by skipping the footer as well.
df=pd.read_csv('LoanStats_2018Q4.csv', skiprows=1,skipfooter=2)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1588
bc_open_to_buy                                  1688
percent_bc_gt_75                                1689
bc_util                                         1751
num_tl_120dpd_2m                                2857
mths_since_rcnt_il                              4473
mo_sin_old_il_acct                              4473
emp_length                                     11689
mths_since_recent_inq                          16035
il_util                                        20255
emp_title                                      20922
next_pymnt_d                                   31587
mths_since_last_delinq                         72125
mths_since_recent_revol_delinq                 91545
mths_since_last_major_derog                    99132
mths_since_recent_bc_dlq                      103144
sec_app_open_acc                              111522
sec_app_mort_acc                              111522
sec_app_inq_last_6mths                        111522
sec_app_earliest_cr_line                      111522
revol_bal_joint                               111522
sec_app_open_act_il                           111522
annual_inc_joint                              111522
dti_joint                                     111522
sec_app_collections_12_mths_ex_med            111522
sec_app_chargeoff_within_12_mths              111522
sec_app_num_rev_accts                         111522
sec_app_revol_util                            111780
mths_since_last_record                        112856
verification_status_joint                     113455
sec_app_mths_since_last_major_derog           123133
debt_settlement_flag_date                     127599
settlement_date                               127599
settlement_amount                             127599
settlement_status                             127599
settlement_term                               127599
settlement_percentage                         127599
hardship_status                               127972
deferral_term                                 127972
hardship_amount                               127972
hardship_start_date                           127972
hardship_end_date                             127972
payment_plan_start_date                       127972
hardship_length                               127972
hardship_dpd                                  127972
hardship_loan_status                          127972
hardship_reason                               127972
hardship_payoff_balance_amount                127972
hardship_last_payment_amount                  127972
hardship_type                                 127972
orig_projected_additional_accrued_interest    128025
url                                           128284
member_id                                     128284
desc                                          128284
id                                            128284
dtype: int64

For good measure, we'll also drop some columns that are made up completely of NaN values.

Why might LendingClub have included columns in their dataset that are 100% blank?

In [0]:
df = df.drop(['url','member_id','desc','id'], axis=1)

In [24]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically want to represent don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column

In [25]:
# Look at the first 10 values of the int_rate column
df['int_rate'].head(10)

0     16.14%
1     11.80%
2     11.31%
3     14.47%
4     27.27%
5     16.14%
6     12.98%
7     10.33%
8     23.40%
9     10.72%
Name: int_rate, dtype: object

In [26]:
# Look at a specific value from the int_rate column
df['int_rate'][0]

' 16.14%'

Problems that we need to address with this column:

- String column that should be numeric
- Percent Sign `%` included with the number
- Leading space at the beginning of the string

However, we're not going to try and write exactly the right code to fix this column in one go. We're going to methodically build up to the code that will help us address these problems.

In [0]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them
int_rate = ' 16.14%'

In [28]:
int_rate.strip()

'16.14%'

In [29]:
int_rate.strip('%')

' 16.14'

In [30]:
int_rate.strip().strip('%')

'16.14'

In [0]:
# "Cast" the string value to a float

In [32]:
float('8.5')

8.5

### Write a function to make our solution reusable!

In [33]:
# Write a function that can do what we have written above to any 
# string that is passsed to it.
new_int=[]
for cell in df['int_rate']:
  new_int.append(float(cell.strip().strip('%')))
new_int

[16.14,
 11.8,
 11.31,
 14.47,
 27.27,
 16.14,
 12.98,
 10.33,
 23.4,
 10.72,
 19.92,
 15.02,
 12.98,
 10.33,
 6.46,
 12.98,
 23.4,
 17.97,
 18.94,
 11.31,
 7.56,
 10.72,
 14.47,
 12.98,
 13.56,
 13.56,
 16.14,
 17.97,
 14.47,
 18.94,
 11.31,
 16.14,
 17.97,
 14.47,
 16.14,
 16.14,
 26.31,
 14.47,
 16.14,
 27.27,
 14.47,
 17.97,
 14.47,
 10.33,
 16.91,
 15.02,
 12.98,
 23.4,
 19.92,
 17.97,
 26.31,
 11.8,
 23.4,
 17.97,
 23.4,
 14.47,
 20.89,
 8.19,
 11.31,
 11.8,
 16.91,
 17.97,
 7.56,
 10.72,
 15.02,
 20.89,
 17.97,
 11.31,
 17.97,
 14.47,
 8.19,
 27.27,
 12.98,
 8.81,
 14.47,
 14.47,
 8.19,
 16.14,
 23.4,
 15.02,
 11.31,
 15.02,
 10.72,
 14.47,
 8.81,
 14.47,
 18.94,
 30.75,
 10.33,
 17.97,
 11.31,
 10.72,
 15.02,
 10.72,
 16.14,
 16.14,
 22.35,
 19.92,
 20.89,
 15.02,
 20.89,
 18.94,
 11.8,
 14.47,
 17.97,
 15.02,
 15.02,
 10.72,
 16.14,
 16.14,
 18.94,
 10.33,
 13.56,
 13.56,
 23.4,
 20.89,
 12.98,
 10.33,
 11.31,
 11.31,
 23.4,
 18.94,
 15.02,
 11.31,
 27.27,
 15.02,
 14.47,
 17.97,
 6.46,
 11.31,
 10.72,
 11.8,
 14.47,
 11.8,
 20.89,
 12.98,
 11.8,
 20.89,
 10.33,
 11.8,
 14.47,
 16.91,
 10.72,
 13.56,
 14.47,
 8.81,
 16.14,
 14.47,
 17.97,
 14.47,
 19.92,
 16.91,
 14.47,
 16.14,
 13.56,
 14.47,
 13.56,
 12.98,
 16.91,
 15.02,
 12.98,
 16.91,
 22.35,
 11.31,
 11.31,
 14.47,
 11.8,
 11.8,
 23.4,
 18.94,
 10.72,
 14.47,
 11.8,
 18.94,
 17.97,
 10.72,
 11.8,
 18.94,
 11.31,
 23.4,
 11.31,
 18.94,
 15.02,
 26.31,
 27.27,
 15.02,
 15.02,
 12.98,
 17.97,
 23.4,
 17.97,
 12.98,
 22.35,
 16.14,
 20.89,
 20.89,
 8.81,
 6.46,
 16.14,
 12.98,
 22.35,
 12.98,
 19.92,
 17.97,
 12.98,
 16.14,
 16.91,
 25.34,
 10.33,
 20.89,
 14.47,
 10.72,
 15.02,
 8.19,
 6.46,
 16.14,
 23.4,
 16.14,
 15.02,
 13.56,
 13.56,
 10.33,
 14.47,
 12.98,
 12.98,
 18.94,
 16.14,
 15.02,
 10.33,
 13.56,
 16.14,
 15.02,
 14.47,
 23.4,
 16.91,
 16.14,
 26.31,
 12.98,
 17.97,
 13.56,
 13.56,
 14.47,
 10.72,
 16.91,
 11.31,
 14.47,
 13.56,
 15.02,
 16.91,
 16.14,
 10.72,
 16.91,
 20.89,
 7.56,
 18.94,
 11.8,
 13.56,
 13.56,
 14.47,
 11.8,
 8.19,
 7.02,
 7.56,
 8.81,
 10.72,
 18.94,
 10.33,
 8.19,
 10.33,
 16.91,
 18.94,
 22.35,
 14.47,
 10.33,
 23.4,
 12.98,
 14.47,
 22.35,
 7.02,
 7.56,
 8.81,
 17.97,
 10.72,
 11.8,
 10.33,
 11.31,
 22.35,
 8.81,
 20.89,
 15.02,
 19.92,
 8.19,
 13.56,
 8.81,
 14.47,
 7.02,
 16.14,
 8.19,
 18.94,
 6.46,
 12.98,
 10.33,
 8.19,
 8.19,
 19.92,
 8.19,
 11.31,
 7.02,
 17.97,
 15.02,
 12.98,
 8.81,
 12.98,
 11.8,
 8.81,
 10.72,
 8.19,
 7.02,
 16.91,
 10.72,
 16.14,
 16.91,
 7.56,
 8.19,
 10.72,
 8.19,
 14.47,
 8.19,
 11.8,
 15.02,
 10.33,
 17.97,
 19.92,
 17.97,
 16.14,
 15.02,
 7.56,
 11.8,
 11.8,
 19.92,
 7.02,
 10.72,
 7.02,
 8.19,
 16.14,
 16.91,
 13.56,
 8.19,
 11.8,
 10.72,
 10.33,
 6.46,
 8.19,
 16.14,
 15.02,
 12.98,
 23.4,
 22.35,
 8.81,
 8.81,
 10.33,
 10.72,
 7.56,
 7.02,
 15.02,
 11.8,
 14.47,
 14.47,
 6.46,
 7.02,
 10.33,
 15.02,
 8.19,
 11.8,
 11.8,
 12.98,
 19.92,
 11.8,
 7.02,
 11.31,
 11.8,
 6.46,
 8.19,
 10.33,
 8.81,
 11.8,
 15.02,
 11.8,
 10.72,
 23.4,
 14.47,
 8.19,
 19.92,
 13.56,
 8.19,
 10.72,
 8.19,
 6.46,
 20.89,
 16.91,
 8.19,
 7.02,
 22.35,
 15.02,
 8.81,
 7.56,
 12.98,
 7.56,
 12.98,
 11.31,
 11.31,
 6.46,
 18.94,
 19.92,
 7.02,
 8.81,
 24.37,
 16.91,
 8.19,
 12.98,
 16.14,
 18.94,
 13.56,
 8.19,
 11.8,
 6.46,
 15.02,
 6.46,
 11.8,
 8.81,
 8.81,
 11.31,
 17.97,
 14.47,
 23.4,
 18.94,
 13.56,
 11.31,
 18.94,
 8.81,
 11.8,
 13.56,
 6.46,
 11.31,
 16.91,
 19.92,
 15.02,
 16.14,
 16.14,
 13.56,
 16.91,
 10.72,
 18.94,
 8.19,
 10.33,
 8.19,
 11.8,
 11.8,
 8.19,
 16.91,
 8.81,
 7.02,
 13.56,
 24.37,
 20.89,
 17.97,
 7.56,
 19.92,
 15.02,
 16.14,
 7.02,
 12.98,
 16.14,
 8.81,
 8.19,
 7.56,
 16.14,
 8.81,
 8.19,
 7.02,
 16.91,
 8.19,
 17.97,
 10.72,
 10.33,
 11.8,
 11.8,
 8.19,
 27.27,
 11.8,
 8.81,
 26.31,
 22.35,
 10.72,
 11.8,
 10.33,
 10.72,
 6.46,
 18.94,
 12.98,
 8.19,
 11.8,
 23.4,
 23.4,
 6.46,
 12.98,
 6.46,
 11.31,
 13.56,
 18.94,
 26.31,
 8.19,
 15.02,
 12.98,
 12.98,
 11.8,
 11.8,
 6.46,
 7.56,
 16.91,
 12.98,
 15.02,
 8.81,
 6.46,
 15.02,
 6.46,
 11.31,
 11.8,
 18.94,
 14.47,
 17.97,
 6.46,
 18.94,
 10.33,
 8.81,
 11.8,
 11.8,
 10.72,
 19.92,
 10.72,
 11.8,
 10.33,
 8.19,
 7.56,
 10.33,
 23.4,
 10.33,
 16.14,
 10.33,
 8.19,
 19.92,
 10.72,
 8.81,
 10.33,
 7.02,
 8.81,
 8.81,
 16.14,
 8.81,
 11.8,
 14.47,
 8.81,
 13.56,
 7.02,
 24.37,
 7.56,
 8.19,
 13.56,
 7.02,
 8.81,
 8.81,
 14.47,
 11.8,
 23.4,
 17.97,
 14.47,
 15.02,
 7.56,
 7.02,
 13.56,
 13.56,
 6.46,
 16.14,
 6.46,
 6.46,
 23.4,
 11.31,
 7.56,
 11.8,
 27.27,
 11.31,
 18.94,
 13.56,
 6.46,
 6.46,
 10.33,
 7.02,
 11.8,
 8.81,
 7.56,
 15.02,
 8.19,
 10.72,
 8.19,
 11.8,
 6.46,
 11.8,
 16.91,
 16.14,
 6.46,
 7.02,
 7.02,
 12.98,
 12.98,
 11.8,
 16.91,
 11.31,
 8.81,
 16.91,
 10.72,
 27.27,
 10.72,
 8.19,
 8.81,
 7.56,
 11.31,
 10.72,
 15.02,
 13.56,
 10.33,
 16.14,
 13.56,
 8.81,
 7.02,
 8.19,
 14.47,
 22.35,
 15.02,
 8.81,
 7.02,
 17.97,
 11.8,
 16.91,
 6.46,
 10.72,
 12.98,
 8.19,
 8.19,
 13.56,
 16.14,
 19.92,
 14.47,
 17.97,
 7.56,
 6.46,
 11.8,
 16.91,
 13.56,
 26.31,
 20.89,
 6.46,
 23.4,
 7.02,
 10.33,
 10.33,
 6.46,
 26.31,
 13.56,
 6.46,
 8.81,
 14.47,
 15.02,
 13.56,
 11.8,
 11.8,
 22.35,
 8.19,
 11.31,
 10.33,
 8.19,
 10.33,
 7.02,
 27.27,
 10.72,
 10.33,
 16.14,
 22.35,
 14.47,
 14.47,
 14.47,
 8.19,
 11.8,
 12.98,
 6.46,
 11.8,
 16.91,
 7.56,
 6.46,
 18.94,
 25.34,
 10.33,
 14.47,
 11.8,
 6.46,
 8.81,
 16.14,
 10.33,
 8.19,
 13.56,
 13.56,
 20.89,
 8.19,
 8.19,
 10.72,
 7.02,
 8.19,
 15.02,
 27.27,
 11.8,
 7.02,
 12.98,
 8.19,
 6.46,
 7.02,
 26.31,
 8.81,
 7.02,
 10.72,
 6.46,
 11.8,
 8.19,
 10.72,
 15.02,
 16.91,
 12.98,
 23.4,
 8.19,
 6.46,
 12.98,
 8.19,
 8.19,
 11.31,
 7.56,
 10.33,
 8.81,
 6.46,
 7.56,
 6.46,
 15.02,
 8.19,
 10.72,
 11.31,
 12.98,
 6.46,
 6.46,
 10.72,
 13.56,
 10.33,
 10.72,
 12.98,
 11.8,
 6.46,
 7.02,
 7.56,
 11.31,
 11.8,
 26.31,
 10.72,
 16.91,
 6.46,
 14.47,
 11.31,
 7.56,
 8.19,
 11.31,
 10.72,
 7.56,
 14.47,
 11.8,
 10.33,
 11.8,
 7.56,
 14.47,
 11.31,
 27.27,
 24.37,
 8.19,
 11.31,
 10.33,
 6.46,
 11.31,
 11.8,
 6.46,
 17.97,
 17.97,
 12.98,
 12.98,
 12.98,
 22.35,
 11.8,
 16.91,
 8.81,
 8.19,
 6.46,
 6.46,
 8.81,
 16.91,
 6.46,
 8.81,
 10.72,
 6.46,
 10.72,
 14.47,
 10.72,
 13.56,
 6.46,
 7.02,
 8.19,
 12.98,
 10.33,
 11.8,
 14.47,
 6.46,
 10.33,
 8.19,
 13.56,
 10.33,
 8.19,
 15.02,
 17.97,
 10.33,
 10.72,
 7.02,
 16.91,
 12.98,
 24.37,
 14.47,
 11.31,
 6.46,
 20.89,
 16.14,
 7.02,
 8.19,
 13.56,
 8.19,
 7.02,
 11.8,
 14.47,
 12.98,
 10.33,
 8.19,
 8.19,
 11.8,
 16.14,
 8.81,
 15.02,
 16.14,
 20.89,
 19.92,
 12.98,
 10.72,
 16.14,
 7.02,
 6.46,
 11.8,
 6.46,
 6.46,
 10.72,
 7.02,
 11.8,
 7.56,
 8.19,
 14.47,
 18.94,
 12.98,
 7.56,
 16.14,
 6.46,
 7.56,
 13.56,
 8.81,
 12.98,
 14.47,
 8.19,
 7.02,
 8.81,
 7.56,
 8.81,
 7.02,
 19.92,
 7.02,
 13.56,
 10.72,
 11.8,
 16.14,
 19.92,
 7.56,
 8.81,
 10.33,
 15.02,
 13.56,
 13.56,
 17.97,
 10.72,
 11.8,
 12.98,
 8.81,
 17.97,
 15.02,
 10.72,
 11.8,
 11.8,
 11.8,
 8.19,
 8.19,
 11.8,
 10.72,
 11.8,
 12.98,
 13.56,
 11.8,
 12.98,
 8.81,
 12.98,
 13.56,
 8.19,
 12.98,
 10.72,
 16.91,
 11.8,
 12.98,
 11.8,
 11.31,
 11.8,
 7.56,
 10.72,
 11.31,
 17.97,
 18.94,
 11.31,
 8.19,
 6.46,
 13.56,
 15.02,
 11.8,
 16.91,
 8.19,
 10.33,
 7.02,
 19.92,
 16.14,
 10.72,
 16.91,
 10.33,
 16.91,
 10.72,
 15.02,
 11.8,
 6.46,
 11.31,
 11.8,
 7.56,
 11.31,
 10.72,
 15.02,
 11.8,
 6.46,
 15.02,
 7.56,
 7.56,
 10.33,
 6.46,
 6.46,
 11.8,
 11.31,
 6.46,
 8.19,
 10.72,
 6.46,
 11.8,
 10.33,
 16.14,
 18.94,
 16.14,
 14.47,
 8.19,
 7.56,
 12.98,
 14.47,
 7.02,
 8.19,
 17.97,
 23.4,
 11.31,
 11.8,
 7.56,
 7.02,
 10.72,
 12.98,
 16.91,
 ...]

In [0]:
def int_rate_float(cell_content):
  return float(cell_content.strip().strip('%'))

In [35]:
int_rate_float(int_rate)

16.14

In [36]:
# is the data type correct?
type(int_rate_float(int_rate))

float

### Apply our solution to every cell in a column

In [37]:
df['int_rate_float']= df['int_rate'].apply(int_rate_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      10000        10000  ...              NaN          16.14
1       6500         6500  ...              NaN          11.80
2       4500         4500  ...              NaN          11.31
3      25000        25000  ...              NaN          14.47
4      30000        30000  ...              NaN          27.27

[5 rows x 141 columns]

In [38]:
# What type of data is held in our new column?

df['int_rate_float'].dtypes

# Look at the datatypes of the last 5 columns
df.tail()

        loan_amnt  funded_amnt  ...  settlement_term int_rate_float
128279      23000        23000  ...              NaN          15.02
128280      10000        10000  ...              NaN          15.02
128281       5000         5000  ...              NaN          13.56
128282      10000        10000  ...              NaN          11.06
128283      10000        10000  ...              NaN          16.91

[5 rows x 141 columns]

## Challenge

We can create a new column with our cleaned values or overwrite the original, whatever we think best suits our needs. On your assignment you will take the same approach in trying to methodically build up the complexity of your code until you have a few lines that will work for any cell in a column. At that point you'll contain all of that functionality in a reusable function block and then use the `.apply()` function to... well... apply those changes to an entire column.

# [Objective](#pandas-apply) Modify and Create Columns using `.apply()`

## Overview

We're already seen one example of using the `.apply()` function to clean up a column. Lets see if we can do it again, but this time on a slightly more complicated use case.

Remember, the goal here is to write a function that will work correctly on any **individual** cell of a specific column. Then we can reuse that function on those individual cells of a dataframe column via the `.apply()` function.

Lets clean up the emp_title "Employment Title" column!

## Follow Along

First we'll try and diagnose how bad the problem is and what improvements we might be able to make.

In [39]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20922
Teacher                2088
Manager                1771
Registered Nurse        950
Driver                  924
RN                      724
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          520
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [40]:
# How many different unique employment titles are there currently?
df['emp_title'].nunique()

43851

In [41]:
# How often is the employment_title null?
df['emp_title'].isnull().sum()

20922

What are some possible reasons as to why a person's employment title may have not been provided?

In [0]:
# Create some examples that represent the cases that we want to clean up
examples = ['owner','Supervisor',' Project Manager',np.NaN]

In [43]:
# Write a function to clean up these use cases and increase uniformity.
def clean_title(title):
  if isinstance(title,str):
   return title.strip().title()
  else:
     return 'Unknown'
for example in examples:
  print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [44]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column
df['emp_title']=df['emp_title'].apply(clean_title)

We can use the same code as we did earlier to see how much progress was made.

In [46]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20922
Teacher                2553
Manager                2393
Registered Nurse       1416
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      832
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   623
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                411
Name: emp_title, dtype: int64

In [47]:
# How many different unique employment titles are there currently?
df['emp_title'].nunique()

34877

In [49]:
# How often is the employment_title null (NaN)?
df['emp_title'].isnull().sum()

0

## Challenge

Using the .apply() function isn't always about creating new columns on a dataframe, we can use it to clean up or modify existing columns as well.

# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

Many of the most useful date columns in this dataset have the suffix `_d` to indicate that they correspond to dates.

We'll use a list comprehension to print them out

In [50]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

Lets look at the string format of the `issue_d` column

In [51]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [53]:
df['issue_d']=pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

Now we can see that the `issue_d` column has been changed to hold `datetime` objects.

Lets look at one of the cells specifically to see what a datetime object looks like:

In [54]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

You can see how the month and year have been indicated by the strings that were contained in the column previously, and that the rest of the values have been inferred.

In [58]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [59]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128279    2018
128280    2018
128281    2018
128282    2018
128283    2018
Name: issue_d, Length: 128284, dtype: int64

Now the month.

In [60]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128279    10
128280    10
128281    10
128282    10
128283    10
Name: issue_d, Length: 128284, dtype: int64

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [61]:
df['issue_year']=df['issue_d'].dt.year
df['issue_month']=df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      10000        10000  ...        2018          12
1       6500         6500  ...        2018          12
2       4500         4500  ...        2018          12
3      25000        25000  ...        2018          12
4      30000        30000  ...        2018          12

[5 rows x 143 columns]

Because all of these dates come from Q4 of 2018, the `issue_d` column isn't all that interesting. Lets look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

We're going to create a new column called `days_from_earliest_credit_to_issue`

It's a long column header, but think about how valuable this piece of information could be. This number will essentially indicate the length of a person's credit history and if that is correlated with repayment or other factors could be a valuable predictor!

In [62]:
df['earliest_cr_line'].head()

0    Mar-1991
1    Aug-2011
2    Dec-2003
3    Jan-1997
4    Dec-1997
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

What we're about to do is so cool! Pandas' datetime format is so smart that we can simply use the subtraction operator `-` in order to calculate the amount of time between two dates. 

Think about everything that's going on under the hood in order to give us such straightforward syntax! Handling months of different lengths, leap years, etc. Pandas datetime objects are seriously powerful!

In [65]:
(df['issue_d']-df['earliest_cr_line']).dt.days

0         10137
1          2679
2          5479
3          8004
4          7670
          ...
128279    12114
128280    13241
128281     4505
128282     3652
128283     4413
Length: 128284, dtype: int64

In [0]:
df['days_from_credit_to_issue'] = (df['issue_d']-df['earliest_cr_line']).dt.days

What's oldest credit history that was involved in Q4 2018?

In [68]:
df['days_from_credit_to_issue'].describe()

count    128284.000000
mean       5860.349061
std        2886.895836
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_credit_to_issue, dtype: float64

25,171 days is ~ 68.96 years of credit history!

## Challenge

Pandas' datetime format is so easy to work with that there's really no excuse for not using dates to make features on a dataframe! Get ready to practice more of this on your assignment.